# EDA Analysis on the FMA dataset

In [1]:
import pandas as pd
import matplotlib as plot
import os

In [2]:
absolute_path = "f:\\AI Projects\\Music Classification"
relative_path = "Data\\fma_metadata"
full_path = os.path.join(absolute_path, relative_path)

f:\AI Projects\Music Classification\Data\fma_metadata

In [3]:
genres_df = pd.read_csv(os.path.join(full_path,"raw_genres.csv"))
genres_df.head()

   genre_id genre_color   genre_handle  genre_parent_id    genre_title
0         1     #006666    Avant-Garde             38.0    Avant-Garde
1         2     #CC3300  International              NaN  International
2         3     #000099          Blues              NaN          Blues
3         4     #990099           Jazz              NaN           Jazz
4         5     #8A8A65      Classical              NaN      Classical

In [4]:
genres_df["genre_title"]

0        Avant-Garde
1      International
2              Blues
3               Jazz
4          Classical
           ...
159          Turkish
160            Tango
161             Fado
162        Christmas
163     Instrumental
Name: genre_title, Length: 164, dtype: object

In [5]:
genres_df

     genre_id genre_color   genre_handle  genre_parent_id    genre_title
0           1     #006666    Avant-Garde             38.0    Avant-Garde
1           2     #CC3300  International              NaN  International
2           3     #000099          Blues              NaN          Blues
3           4     #990099           Jazz              NaN           Jazz
4           5     #8A8A65      Classical              NaN      Classical
..        ...         ...            ...              ...            ...
159      1032     #CC3300        Turkish            102.0        Turkish
160      1060     #CC3300          tango             46.0          Tango
161      1156     #CC3300           Fado            130.0           Fado
162      1193     #D4A017      Christmas            763.0      Christmas
163      1235     #000000   Instrumental              NaN   Instrumental

[164 rows x 5 columns]

In [6]:
genres_df["title"]

KeyError: 'title'