# EDA Analysis on the music dataset

In [21]:
import pandas as pd
import matplotlib as plot
import os

In [37]:
absolute_path = "f:\\AI Projects\\Music Classification"
relative_path = "Data\\fma_metadata"
full_path = os.path.join(absolute_path, relative_path)
print(full_path)

f:\AI Projects\Music Classification\Data\fma_metadata

In [42]:
genres_df = pd.read_csv(os.path.join(full_path,"genres.csv"))
genres_df.head()

   genre_id  #tracks  parent          title  top_level
0         1     8693      38    Avant-Garde         38
1         2     5271       0  International          2
2         3     1752       0          Blues          3
3         4     4126       0           Jazz          4
4         5     4106       0      Classical          5

In [49]:
genres_df.loc[0]

genre_id               1
#tracks             8693
parent                38
title        Avant-Garde
top_level             38
Name: 0, dtype: object

In [50]:
genres_df["title"]

0        Avant-Garde
1      International
2              Blues
3               Jazz
4          Classical
           ...
158          Turkish
159            Tango
160             Fado
161        Christmas
162     Instrumental
Name: title, Length: 163, dtype: object